@model OficinaModel

@{
    ViewData["Title"] = "Detalhes da Oficina";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<nav>
    <article>
        <h1 class="display-8">Detalhes sobre a oficina:</h1>
        <div>
            <dl>
                <dt>Nome:</dt>
                <dd>@Model.nome</dd>
                <dt>CPNJ:</dt>
                <dd>@Model.cpnj</dd>
                <dt>Quantidade de funcionários: @ViewBag.Mecanicos.Count </dt>
                <dd><a href="@Url.Action("Create", "Mecanico", new { oficinaId = ViewBag.Oficina.id })">Cadastrar novo Mecânico(a)</a></dd>
            </dl>
        </div>
    </article>
</nav>

<h2>Mecânicos:</h2>
@if (ViewBag.Mecanicos != null && ViewBag.Mecanicos.Count > 0)
{
    <table class="table table-hover">
        <tr class="table-active" >
            <th scope="col">Nome</th>
            <th scope="col">Sexo</th>
            <th scope="col">Categoria de Manutenção</th>
            <th scope="col">Especialidade do mecânico</th>
        </tr>
        @foreach (var mecanico in ViewBag.Mecanicos)
        {
            <tr>
                <td scope="row">
                    <a role="link" asp-controller="Mecanico" asp-action="Show" asp-route-id="@mecanico.id">
                            @mecanico.nome
                    </a>
                </td>
                <td scope="row">@mecanico.sexo</td>
                <td scope="row">@mecanico.categoriaDeManutencao</td>
                <td scope="row">@mecanico.resumo</td>
            </tr>
        }
    </table>
}
else
{
    <p>Nenhum mecânico cadastrado nesta oficina.</p>
}
