@model List<MecanicoModel>

<h2>Resultado da Busca</h2>

@if (Model != null && Model.Count > 0)
{
    foreach (var mecanico in Model)
    {
        <div class="container-fluid">
            <h4>@mecanico.nome</h4>
            <p>Gênero: @mecanico.sexo</p>
            <p>Categoria de Manutenção: @mecanico.categoriaDeManutencao</p>
            <p>Especialidades: @mecanico.resumo</p>
            <p>Oficina: @mecanico.oficina.nome</p>
        </div>
        <hr />
    }
}
else
{
    <p>Nenhum mecânico/oficina encontrado pelo critério de busca.</p>
}
