@model SearchModel

<h1>Resultados da Busca</h1>
<br>
<br>

@if (Model.oficinas.Any())
{
    <h4>Oficinas Encontradas:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oficina in Model.oficinas)
            {
                <tr>
                    <td>@oficina.nome</td>
                    <td>@oficina.cpnj</td>
                    <td>@oficina.estado, @oficina.cidade</td>
                    <!-- Adicione as colunas restantes para exibir os atributos das oficinas -->
                </tr>
            }
        </tbody>
    </table>
}
<br>
<br>
@if (Model.mecanicos.Any())
{
    <h4>Mecânicos encontrados:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Oficina</th>

                <!-- Adicione as colunas restantes para exibir os atributos dos mecânicos -->
            </tr>
        </thead>
        <tbody>
            @foreach (var mecanico in Model.mecanicos)
            {
                <tr>
                    <td>@mecanico.nome</td>
                    <td>@mecanico.sexo</td>
                    <td>@mecanico.oficina.nome</td>
                    <!-- Adicione as colunas restantes para exibir os atributos dos mecânicos -->
                </tr>
            }
        </tbody>
    </table>
}
